<!DOCTYPE html>
<html>
<head>
	<title>Vue.js</title>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

	<div id="app">
		{{nome}} <br />
		{{nomeInvertido}}
	</div>

	<hr />

	<div id="app-2">
		<div>
			computed
			<div>{{aleatorio}}</div>
			<div>{{aleatorio}}</div>
		</div>
		<hr>
		<div>
			function
			<div>{{ aleatorioFuncao() }}</div>
			<div>{{ aleatorioFuncao() }}</div>
		</div>
	</div>

	<hr />

	<div id="app-3">
		<input type="text" v-model="conta">
		<span>{{ aviso }}</span>	
		{{ resultado }}	
	</div>

	<hr />

	<div id="app-4">
		primeiro nome
		<input type="text" v-model="primeiroNome">
		<br />
		segundo nome
		<input type="text" v-model="segundoNome">
		<br />
		nome completo
		<input type="text" v-model="nomeCompleto">
	</div>

	<hr />

	<div id="app-5">
		<div class="oculto" v-bind:class="msgDivClass">
			{{errorMsg}}
		</div>
	</div>

	<hr />

	<div id="app-6">
		<div class="oculto" v-bind:class="msgDivClass">
			{{errorMsg}}
		</div>
	</div>

	<script src="script.js"></script>
</body>
</html>