<!DOCTYPE html>
<html>
<head>
	<title>Vue.js</title>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

	<div id="app">
		{{nome}} <br />
		{{nomeInvertido}}
	</div>

	<hr />

	<div id="app-2">
		<div>
			computed
			<div>{{aleatorio}}</div>
			<div>{{aleatorio}}</div>
		</div>
		<hr>
		<div>
			function
			<div>{{ aleatorioFuncao() }}</div>
			<div>{{ aleatorioFuncao() }}</div>
		</div>
	</div>

	<hr />

	<div id="app-3">
		<input type="text" v-model="conta">
		<span>{{ aviso }}</span>	
		{{ resultado }}	
	</div>

	<hr />

	<div id="app-4">
		primeiro nome
		<input type="text" v-model="primeiroNome">
		<br />
		segundo nome
		<input type="text" v-model="segundoNome">
		<br />
		nome completo
		<input type="text" v-model="nomeCompleto">
	</div>

	<hr />

	<div id="app-5">
		<div class="oculto" v-bind:class="msgDivClass">
			{{errorMsg}}
		</div>
	</div>

	<hr />

	<div id="app-6">
		<div class="oculto" v-bind:class="msgDivClass">
			{{errorMsg}}
		</div>
	</div>

	<hr />

	<div id="app-7">
		<div v-bind:style="[ avisoError, avisoBase]">
			{{aviso}}
		</div>
	</div>

	<hr />

	<div id="app-8">
		<template v-if="ganhou">
			<h1>Voce ganhou</h1>
			<small>parabens!!</small>
		</template>
		<template v-else>
			<h1>Voce perdeu</h1>
			<small>desculpa!!</small>
		</template>
	</div>

	<hr />

	<div id="app-9">
		<div v-for="(item, key, index) in object">
			{{index}}: {{key}} - {{item}}
		</div>
	</div>

	<hr />

	<div id="app-10">
		<div>coloque no console - Vue.set(app10.lista, 3, 'paulo de tal');</div>
		<ul>
			<li v-for="item in lista">
				{{item}}
			</li>
		</ul>
	</div>

	<hr />

	<div id="app-11">
		<div>coloque no console - Vue.set(app11.object, 'pai', 'paulo de tal');</div>
		<ul>
			<li v-for="(item, key) in object">
				{{ key+': '+ item }}
			</li>
		</ul>
	</div>

	<hr />

	<div id="app-12">

		<input type="text" v-model="busca"> 
		<ul>
			<li v-for="item in nomesFiltrados">
				{{ item }}
			</li>
		</ul>
	</div>
	
	<hr />

	<div id="app-13">
		<p>mesmo escrevendo algo, por causa do prevent ele nao envia o formulario, ele so executa a function</p>
		<form v-on:submit.prevent="submit">
			<input type="text">

			<input type="submit" value="clique para enviar">
		</form>

		contagem {{conta}}
	</div>

	<hr />

	<div id="app-14">
		<p>estou restringindo o click so na area ao inves do botão</p>
		<div class="area" v-on:click.once.self="clica">
			<button>clica em min</button>
		</div>
		contagem: {{conta}}
	</div>

	<hr />
	
	<div id="app-15">
		<p>ele so conta se eu apertar enter :)</p>
		<input type="text" v-on:keyup.enter="clica"/>

		<p>contagem: {{conta}}</p>
	</div>

	<hr />

	<div id="app-16">
		<p>ele so conta se apertar com o shift</p>
		<!-- pode ser ctrl ou qualquer coutrra tecla de bind -->
		<input type="submit" v-on:click.shift="clica"/>

		<p>contagem: {{conta}}</p>
	</div>	
	
	<hr />
	
	<div id="app-17">
		<button v-on:click.right.prevent="clica">aqui</button>

		<p>contagem: {{conta}}</p>
	</div>

	<hr />

	<div id="app-18">

		<input type="checkbox" value="Lucas" v-model="nomes" /> Lucas <br />
		<input type="checkbox" value="Pedro" v-model="nomes" /> Pedro <br />
		<input type="checkbox" value="João" v-model="nomes" /> João <br />

		<p>Nomes: {{nomes}}</p>

		<input type="radio" name="grupo" value="sim" v-model="grupo">
		<input type="radio" name="grupo" value="não" v-model="grupo">

		<p>Gupo: {{grupo}}</p>

		<select v-model="opcao">
			<option v-for="item in opcoes" v-bind:value="item.letra">{{item.nome}}</option>
		</select>

		<p>Letra: {{opcao}}</p>
	</div>

	<script src="script.js"></script>
</body>
</html>