body {
	font-family: Arial;
	font-size:14px;
}

#app-2{
	display: flex;
	flex-direction: row;
	padding-right: 1700px
}

.oculto{
	display: none;
}

.active{
	display: block;
}

.sucess{
	background-color: #0000FF;
	color: white;
}

.error{
	background-color: #FF0000;
	color: white;
}